@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = "Layout.cshtml";

    var products = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("projects").FirstOrDefault();

    var ourIngredients = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("ourIngredients").FirstOrDefault();

    var services = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("services").FirstOrDefault();

    var ourPartners = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("ourPartners").FirstOrDefault();

    var contactsRequest = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("contactsRequest").FirstOrDefault();


}


<header id="header" class="header">
    <img class="decoration-star" src="./images/decoration-star.svg" alt="alternative">
    <img class="decoration-star-2" src="./images/decoration-star.svg" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-6">
                <div class="text-container">
                    <h1 class="test-right display-3 mb-3">@(Model.Value("title"))</h1>
                    <div class="p-large test-right">
                        @(Model.Value("textBody"))
                    </div>
                    <a class="btn-solid-lg" href="#introduction">مزيد من المعلومات</a>
                    <a class="btn-outline-lg" href="#contact">تواصل معنا</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-5 col-xl-6">
                <div class="image-container">
                    <img class="img-fluid" src="./images/header.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->
<!-- end of statistics -->
<!-- Introduction -->
<div id="introduction" class="basic-1 bg-gray">
    <div class="container">
        <div class="row m-0">
            <div class="col-md-9">
                <h2>@(Model.Value("titleAbout"))</h2>
                <div class="fs-5">
                    @(Model.Value("textAbout"))
                </div>
            </div>
            <div class="col-md-3 p-0">
                <img src="@(Model.Value("mediaAbout"))" style="max-width:100%" />
            </div>
            <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- Services -->
<div id="services" class="cards-1 bg-gray">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-5">
                <div class="text-container">
                    <h2>
                        @(Model.Value("title"))
                    </h2>

                    <ul class="list-unstyled li-space-lg">

                        @{
                            if (ourIngredients.Value("ingredientsList") != null)
                            {
                                foreach (var m in ourIngredients.Value<string[]>("ingredientsList"))
                                {
                                    <li class="d-flex">
                                        <i class="fas fa-square"></i>
                                        <br>
                                        <div class="flex-grow-1 e-2">
                                            @m
                                        </div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="card-container">

                    @{
                        if (ourIngredients.Value("ingredients") != null)
                        {
                            foreach (var mi in ourIngredients.Value<IEnumerable<IPublishedElement>>("ingredients"))
                             {
                                <!-- Card -->
                                <div class="card">
                                    <div class="card-icon">
                                        <span class="fas @(mi.Value("uploadLogo"))"></span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@mi.Value("titleLogo")</h5>
                                    </div>
                                </div>
                                <!-- end of card -->
                             }
                        }
                    }

                </div> <!-- end of container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->
<!-- end of details 2 -->
<!-- Invitation -->
<!-- end of invitation -->
<!-- Projects -->
<div id="projects" class="cards-2">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-12">
                <h2 class="h2-heading">خدمات شركة مبادئ</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Card -->
                <div class="card">
                    <img class="img-fluid" src="./images/Digital-Marketing_09.webp" height="230" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">النشر</h5>
                        <p class="card-text">عبر الموقع الألكتروني و المنصات التواصل الأجتماعي</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <img class="img-fluid" src="./images/Digital-Marketing_07.webp" height="230" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">النشر الدولى</h5>
                        <p class="card-text">من خلال شركاؤنا الدولين بحسب المناسبه واهميتها دوليا وبما يتسق مع السياسات الإعلامية</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <img src="./images/VPR-HOME-about.webp" width="340" height="230" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">صناعة المحتوى</h5>
                        <p class="card-text">خبر صحفي، تقارير بقوالب إعلامية مختلفة، فيديو، انفوجرافيك، موشن جرافيك, قصص إخبارية,, لقاءات مرئية.</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <img src="./images/digital-marketing-hm.webp" height="230" width="340" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">التغطيه الاعلاميه</h5>
                        <p class="card-text">العمل الاستباقي لإعداد الحملات الإعلامية قبل انطلاق الحدث، التغطية الميدانية، عقد اللقاءات والمقابلات الصحفية مع الضيوف، والشخصيات البارزة التغطيات عبر القنوات المقروءة والمسموعة والمرئية.</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <img src="./images/Pr-hm.webp" height="230" width="340" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">تنظيم و اداره</h5>
                        <p class="card-text">استضافه وتنظيم المؤتمرات الصحفية في مركز مؤتمرات واس، دعوة وسائل الإعلام المختلفة التلفزيون-الإذاعة-الصحافة محليا ودوليا، دعوة الإعلاميين المحلين والدوليين، دعوة كتاب الرأي والمتخصصين، القيام بالأعمال اللوجستية للمؤتمرات الصحفية</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <img src="./images/monit-hm.webp" height="230" width="340" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">الأرشيف</h5>
                        <p class="card-text">أرشيف متكامل يضم محتوى وطني تاريخي ممتد لأكثر من مئة عام، يحتوي على صور أرشيفية ووثائق</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <img src="./images/image.jpg" height="230" width="340" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">التدريب الأعلامي</h5>
                        <p class="card-text">
                            تقديم التدريب الإعلامي والإخباري المتخصص بالشراكة مع أبرز مراكز التدريب الإعلامية الإقليمية والدولية.
                        </p>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of projects -->
<!-- OurBusiness -->
<div id="ourBusiness" class="cards-2">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-12">
                <h2 class="h2-heading text-center">بعض اعمالنا</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->

        <div class="">

            <div class="mb-5 w-100">
                <div class="row m-0">
                    <div class="col-md-4 mb-3">
                        <img src="./images/Screenshot195400.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 mb-3">
                        <div class="card-body">
                            <h5 class="card-title mb-3">الأعلاميه</h5>
                            <p class="card-text">التغطية الإعلامية للمؤتمر الدولي لمستقبل منظمات التربية والثقافة والعلوم.</p>
                            <p class="card-text">
                                <small class="text-muted">عدد الحلقات 19, عدد الحلقات 11, عدد الحلقات 63</small>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <img src="./images/200306.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-3">الأبداعي</h5>
                            <p class="card-text">سلسلة فيديوهات تسلط الضوء على أثر تطبيقات القران الكريم، علم الحديث, مواقيت الصلاة والعاد بي مستخدميها وعلى المجتمع بشكل عام,</p>
                            <p class="card-text">
                                <small class="text-muted">عدد الحلقات 4, حقق التفاعل أكثر من 500 ألف.</small>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <img src="./images/VPR-HOME.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-3">تنظيم و ادارة المؤتمرات</h5>
                            <p class="card-text">المؤتمر الصحفي الاستباقي لمبادرة مستقبل الاستثمار في مركز واس للمؤتمرات, المؤتمر الصحفي الاستباقي لمؤسسة المبادره المستقبل الاستثمار للتعريف بالنسخه السادسه للمؤتمر تحت شعار الاستثمار في الأنسانيه :تمكين النظام العالمي الجديد</p>
                            <p class="">
                                عقد لقاء صحفي للرئيس التنفيذي لمؤسسة مبادرة " مستقبل الاستثمار " ريتشارد اتياس
                            </p>
                            <p class="card-text">
                                <small class="text-muted"> حضور اكثر من 20 وسيلة اعلامية</small>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <img src="./images/211442.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-3">تنظيم و ادارة</h5>
                            <p class="card-text">
                                تفردت وكالة الأنباء السعوديه باستضافه وتنظيم حفل تخريج برنامج قيادات عالميه بالشراكه مع جامعة جورج تاون في مركز واس للمؤتمرات حيث كانت المملكه العربيه السعوديه هي اول دوله في الشرق الاوسط تستضيف البرنامج,
                            </p>
                            <p class="">
                                حضور عدد من السفراء و القاده والمسئولين,
                            </p>
                            <p>
                                عقد لقاء صحفي مع المؤسس المشرف العام على برنامج قيادات عالميه جورج تاون
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div> <!-- end of container -->
</div>  <!-- end of cards-2 -->
<!-- end of OurBusiness -->
<!-- Testimonials -->
<div class="slider-1 bg-gray d-none">
    <img class="quotes-decoration" src="./images/quotes.svg" alt="alternative">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-12">

                <!-- Card Slider -->
                <div class="slider-container">
                    <div class="swiper-container card-slider">
                        <div class="swiper-wrapper">

                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <img class="testimonial-image" src="./images/testimonial-2.jpg" alt="alternative">
                                <p class="testimonial-text">تفردت وكالة الأنباء السعوديه باستضافه وتنظيم حفل تخريج برنامج قيادات عالميه بالشراكه مع جامعة جورج تاون في مركز واس للمؤتمرات حيث كانت المملكه العربيه السعوديه هي اول دوله في الشرق الاوسط تستضيف البرنامج, حضور عدد من السفراء و القاده والمسئولين, عقد لقاء صحفي مع المؤسس المشرف العام على برنامج قيادات عالميه جورج تاون</p>
                                <div class="testimonial-author">تنظيم و ادارة</div>
                                <div class="testimonial-position">بعض اعمالنا</div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->


                        </div> <!-- end of swiper-wrapper -->
                        <!-- Add Arrows -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <!-- end of add arrows -->

                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of card slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of testimonials -->
<!-- OurPartners -->

<div id="OurPartners" class="cards-2">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">
                <h1 class="h2-heading text-center">
                    شركائنا
                </h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="position-relative">

            <div id="OurPartnersSwiper" class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="">
                            <img src="./images/ourpartners/231926.png" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/ourpartners/231941.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/ourpartners/231954.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/ourpartners/232009.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/ourpartners/232018.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/ourpartners/232032.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/ourpartners/232044.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/ourpartners/232057.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/ourpartners/232120.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/ourpartners/232133.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/ourpartners/spa.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/ourpartners/was.png" />
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>
    </div>
</div>

<!-- Contact -->
<div id="contact" class="form-1">
    <img class="decoration-star" src="/images/decoration-star.svg" alt="alternative">
    <img class="decoration-star-2" src="/images/decoration-star.svg" alt="alternative">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>
                        لا تتردد بالتواصل معنا :
                    </h2>

                    <!-- Contact Form -->
                    @await Html.PartialAsync("_ContactUs")

                    <!-- end of contact form -->
                </div> <!-- end of text-container -->
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="/images/contact.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of contact -->
<!-- Footer -->
@section BottomScript {
    <script>
        function getDirection() {
            var windowWidth = window.innerWidth;
            var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';
            return direction;
        }

        var swiper = new Swiper('#OurPartnersSwiper', {
            slidesPerView: 5,
            direction: getDirection(),
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            on: {
                resize: function () {
                    swiper.changeDirection(getDirection());
                },
            },
        });

    </script>
}