@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = "Layout.cshtml";

    var OurBusiness = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("projects").FirstOrDefault();

    var ourIngredients = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("ourIngredients").FirstOrDefault();

    var services = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("services").FirstOrDefault();

    var ourPartners = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("ourPartners").FirstOrDefault();

    var contactsRequest = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("contactsRequest").FirstOrDefault();


}


<header id="header" class="header">
    <img class="decoration-star" src="./images/decoration-star.svg" alt="alternative">
    <img class="decoration-star-2" src="./images/decoration-star.svg" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-6">
                <div class="text-container">
                    <h1 class="test-right display-3 mb-3">@(Model.Value("title"))</h1>
                    <div class="p-large test-right">
                        @(Model.Value("textBody"))
                    </div>
                    <a class="btn-solid-lg" href="#introduction">مزيد من المعلومات</a>
                    <a class="btn-outline-lg" href="#contact">تواصل معنا</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-5 col-xl-6">
                <div class="image-container">
                    <img class="img-fluid" src="./images/header.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->
<!-- end of statistics -->
<!-- Introduction -->
<div id="introduction" class="basic-1 bg-gray">
    <div class="container">
        <div class="row m-0">
            <div class="col-md-9">
                <h2>@(Model.Value("titleAbout"))</h2>
                <div class="fs-5">
                    @(Model.Value("textAbout"))
                </div>
            </div>
            <div class="col-md-3 p-0">
                <img src="@(Model.Value("mediaAbout"))" style="max-width:100%" />
            </div>
            <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- Services -->
<div id="ourIngredients" class="cards-1 bg-gray">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-5">
                <div class="text-container">
                    <h2>
                        @(ourIngredients.Value("title"))
                    </h2>

                    <ul class="list-unstyled li-space-lg">

                        @{
                            if (ourIngredients.Value("ingredientsList") != null)
                            {
                                foreach (var m in ourIngredients.Value<string[]>("ingredientsList"))
                                {
                                    <li class="d-flex">
                                        <i class="fas fa-square"></i>
                                        <br>
                                        <div class="flex-grow-1 e-2">
                                            @m
                                        </div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="card-container">
                    @{
                        if (ourIngredients.Value("ingredients") != null)
                        {
                            foreach (var mi in ourIngredients.Value<IEnumerable<IPublishedElement>>("ingredients"))
                            {
                                <!-- Card -->
                                <div class="card">
                                    <div class="card-icon">
                                        <span class="fas @(mi.Value("uploadLogo"))"></span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@mi.Value("titleLogo")</h5>
                                    </div>
                                </div>
                                <!-- end of card -->
                            }
                        }
                    }
                </div> <!-- end of container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->
<!-- end of details 2 -->
<!-- Invitation -->
<!-- end of invitation -->
<!-- Projects -->
<div id="projects" class="cards-2">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-12">
                <h2 class="h2-heading">
                    @services.Value("title")
                </h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                @{
                    if (services.Children.Any())
                    {
                        foreach (var mi in services.Children())
                        {
                            <!-- Card -->
                            <div class="card">
                                <img class="img-fluid" src="@mi.Value("homeMedia")" height="230" alt="alternative">
                                <div class="card-body">
                                    <h5 class="card-title">@mi.Value("title")</h5>
                                    <p class="card-text">@mi.Value("briefHome")</p>
                                </div>
                            </div>
                            <!-- end of card -->
                        }
                    }
                }
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of projects -->
<!-- OurBusiness -->
<div id="ourBusiness" class="cards-2">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-12">
                <h2 class="h2-heading text-center">
                    @OurBusiness.Value("title")
                </h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->

        <div class="">

            <div class="mb-5 w-100">
                <div class="row m-0">

                    @{
                        if (OurBusiness.Children.Any())
                        {
                            foreach (var item in OurBusiness.Children())
                            {
                                <div class="col-md-4 mb-3">
                                    <img src="@item.Value("homeMedia")" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">@item.Value("title")</h5>
                                        <div class="card-text">
                                               @item.Value("briefHome")
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }

                </div>
            </div>

        </div>
    </div> <!-- end of container -->
</div>  <!-- end of cards-2 -->
<!-- end of OurBusiness -->
<!-- Testimonials -->
<div class="slider-1 bg-gray d-none">
    <img class="quotes-decoration" src="./images/quotes.svg" alt="alternative">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-12">

                <!-- Card Slider -->
                <div class="slider-container">
                    <div class="swiper-container card-slider">
                        <div class="swiper-wrapper">

                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <img class="testimonial-image" src="./images/testimonial-2.jpg" alt="alternative">
                                <p class="testimonial-text">تفردت وكالة الأنباء السعوديه باستضافه وتنظيم حفل تخريج برنامج قيادات عالميه بالشراكه مع جامعة جورج تاون في مركز واس للمؤتمرات حيث كانت المملكه العربيه السعوديه هي اول دوله في الشرق الاوسط تستضيف البرنامج, حضور عدد من السفراء و القاده والمسئولين, عقد لقاء صحفي مع المؤسس المشرف العام على برنامج قيادات عالميه جورج تاون</p>
                                <div class="testimonial-author">تنظيم و ادارة</div>
                                <div class="testimonial-position">بعض اعمالنا</div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->


                        </div> <!-- end of swiper-wrapper -->
                        <!-- Add Arrows -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <!-- end of add arrows -->

                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of card slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of testimonials -->
<!-- OurPartners -->

<div id="OurPartners" class="cards-2">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">
                <h1 class="h2-heading text-center">
                    @ourPartners.Value("title")
                </h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="position-relative">

            <div id="OurPartnersSwiper" class="swiper">
                <div class="swiper-wrapper">

                    @{
                        if (ourPartners.Value("partnersList") != null)
                        {
                            foreach (var partner in ourPartners.Value<IEnumerable<IPublishedElement>>("partnersList"))
                            {
                                var typedMedia = partner?.Value<IPublishedContent>("partnerLogo");

                                <div class="swiper-slide">
                                    <a target="_blank" @(partner.HasValue("partnerURL") ? "href=" + partner.Value<string>("partnerURL") : "") title="@partner.Value("partnerName")">
                                        <img src="@(typedMedia?.Url())" />
                                    </a>
                                </div>
                            }
                        }
                    }

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>
    </div>
</div>

<!-- Contact -->
<div id="contact" class="form-1">
    <img class="decoration-star" src="/images/decoration-star.svg" alt="alternative">
    <img class="decoration-star-2" src="/images/decoration-star.svg" alt="alternative">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>
                        @contactsRequest.Value("title")
                    </h2>

                    <!-- Contact Form -->
                    @await Html.PartialAsync("_ContactUs")

                    <!-- end of contact form -->
                </div> <!-- end of text-container -->
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="/images/contact.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of contact -->
<!-- Footer -->
@section BottomScript {
    <script>
        function getDirection() {
            var windowWidth = window.innerWidth;
            var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';
            return direction;
        }

        var swiper = new Swiper('#OurPartnersSwiper', {
            slidesPerView: 5,
            direction: getDirection(),
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            on: {
                resize: function () {
                    swiper.changeDirection(getDirection());
                },
            },
        });

    </script>
}